html,
body {
  margin: 0px;
  padding-top: 27px;
}

:root {
  font-family: Arial;
  background-color: rgb(27, 29, 33);
  color: rgb(225, 228, 235);
  line-height: 150%;
  width: 100%;
}

a {
  color: rgb(213, 167, 240);
  text-decoration: none;
}

a:link,
visted,
hover,
active {
  text-decoration: none;
}

.header {
  padding: 0px 10px 0px 10px;
}

.headline {
  text-align: center;
}

.img-1 {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border: solid;
  border-radius: 5px;
  border-color: rgb(45, 60, 82);
  border-width: 2px;
}

.article {
  display: inline-block;
  margin-left: 20px;
}

.main-text {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 14px;
}

.right {
  padding-right: 10px;
  max-width: 100%;
}

.img-2 {
  max-width: 100%;
  object-fit: cover;
  transition: opacity 0.15s;
}

.img-2:hover {
  opacity: 0.9;
  cursor: pointer;
}

.img-description {
  font-style: italic;
  font-size: small;
  text-align: center;
  margin-top: 0px;
  white-space: nowrap;
}

.ghostwire {
  color: rgb(173, 170, 211);
  transition: color, font-weight, 0.15s;
}

.ghostwire:hover {
  color: rgb(161, 134, 193);
}

.ghostwire:active {
  color: rgb(141, 72, 226);
  font-weight: bold;
}

.img-description:hover {
  color: rgb(225, 228, 235);
}

.read {
  display: inline-block;
  vertical-align: top;
  background-color: rgb(230, 236, 244);
  color: rgb(27, 29, 33);
  font-weight: bold;
  border-color: rgb(21, 35, 54);
  border-width: 2px;
  border-style: none;
  border-radius: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  transition: background-color 0.15s, color 0.15s;
}

.read:hover {
  background-color: rgb(27, 29, 33);
  color: rgb(230, 236, 244);
  cursor: pointer;
}

.read:active {
  opacity: 0.7;
}
