:root {
  font-family: Arial;
  background-color: rgb(27, 29, 33);
  color: rgb(225, 228, 235);
  line-height: 150%;
  width: 100%;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.topnav {
  width: 100%;
  height: 50px;
  background-color: rgb(40, 66, 101);
  color: rgb(213, 167, 240);
  width: 100%;
  display: flex;
}

.logo {
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.logo:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 22px;
  margin-bottom: 5px;
  height: 24px;
}

.search {
  background-color: rgb(230, 236, 244);
  border-color: rgb(21, 35, 54);
  border-width: 2px;
  border-style: none;
  border-radius: 5px;
  margin-right: 5px;
}

.search:active {
  border: none;
}

.Share {
  background-color: rgb(230, 236, 244);
  color: rgb(27, 29, 33);
  font-weight: bold;
  border-color: rgb(21, 35, 54);
  border-width: 2px;
  border-style: none;
  border-radius: 5px;
  margin-right: 5px;
  transition: background-color 0.15s, color 0.15s;
}

.Share:hover {
  background-color: rgb(27, 29, 33);
  color: rgb(230, 236, 244);
  cursor: pointer;
}

.Share:active {
  opacity: 0.7;
}

.about {
  background-color: rgb(230, 236, 244);
  color: rgb(27, 29, 33);
  font-weight: bold;
  border-color: rgb(21, 35, 54);
  border-width: 2px;
  border-style: none;
  border-radius: 5px;
  margin-right: 5px;
  transition: background-color 0.15s, color 0.15s;
}

.about:hover {
  background-color: rgb(27, 29, 33);
  color: rgb(230, 236, 244);
  cursor: pointer;
}

.about:active {
  opacity: 0.7;
}

.dropdown {
  background-color: rgb(230, 236, 244);
  color: rgb(27, 29, 33);
  font-weight: bold;
  border-color: rgb(21, 35, 54);
  border-width: 2px;
  border-style: none;
  border-radius: 5px;
  margin-right: 5px;
  transition: background-color 0.15s, color 0.15s;
}

.dropdown:hover {
  background-color: rgb(27, 29, 33);
  color: rgb(230, 236, 244);
  cursor: pointer;
}

.dropdown:active {
  opacity: 0.7;
}

.headline {
  text-align: center;
}

.img-1 {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border: solid;
  border-radius: 5px;
  border-color: rgb(45, 60, 82);
  margin-right: 0px;
  margin-left: 0px;
}

.article {
  display: inline-block;
  margin-left: 14px;
}

.main-text {
  width: 600px;
  display: inline-block;
  margin-right: 14px;
}

.sidebar {
  display: inline-grid;
  vertical-align: top;
}

.img-2 {
  width: 500px;
  display: inline-block;
  transition: opacity 0.15s;
}

.img-2:hover {
  opacity: 0.9;
  cursor: pointer;
}

.img-description {
  font-style: italic;
  font-size: small;
  text-align: center;
  margin-top: 0px;
}

.ghostwire {
  color: rgb(173, 170, 211);
  transition: color, font-weight, 0.15s;
}

.ghostwire:hover {
  color: rgb(161, 134, 193);
  font-weight: bold;
}

.ghostwire:active {
  color: rgb(141, 72, 226);
  font-weight: bold;
}

.img-description:hover {
  color: rgb(225, 228, 235);
}

.read {
  display: inline-block;
  vertical-align: top;
  background-color: rgb(230, 236, 244);
  color: rgb(27, 29, 33);
  font-weight: bold;
  border-color: rgb(21, 35, 54);
  border-width: 2px;
  border-style: none;
  border-radius: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  transition: background-color 0.15s, color 0.15s;
}

.read:hover {
  background-color: rgb(27, 29, 33);
  color: rgb(230, 236, 244);
  cursor: pointer;
}

.read:active {
  opacity: 0.7;
}
