.Useless {
  background-color: rgb(200, 0, 0);
  color: rgb(6, 6, 6);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.Useless:hover {
  opacity: 0.8;
}

.useless:active {
  opacity: 0.5;
}

.More {
  background-color: rgb(240, 238, 238);
  color: rgb(6, 6, 6);
  border-color: rgb(31, 31, 32);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  transition: background-color 0.15, color 0.15s;
}

.More:hover {
  background-color: rgb(6, 6, 6);
  color: rgb(240, 238, 238);
}

.Again {
  background-color: rgb(6, 6, 6);
  color: rgb(242, 239, 239);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.Again:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
