p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.headline {
  font-size: 18px;
  font-weight: bold;
  width: 350px;
  line-height: 24px;
  margin-bottom: 10px;
}

.view {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.author {
  font-size: 14px;
  font-weight: bold;
  color: rgb(96, 96, 96);
  line-height: 24px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 16px;
  color: rgb(78, 78, 78);
  width: 325px;
  line-height: 20px;
  margin-bottom: 100px;
}

.footer {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(6, 6, 6);
  color: rgb(230, 230, 230);
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: Pointer;
}
